<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <!-- TailwindCSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
    h2 {@apply text-2xl font-bold}
    label {@apply block my-3}
    h3 {@apply text-sm text-gray-600}
    button {@apply rounded-lg px-2 py-1 text-white text-sm}
    </style>
  </head>
  <body class="px-3">
    <div id="vue-app"></div>
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- vue-router -->
    <script src="https://unpkg.com/vue-router@4"></script>

    <script>
      const {defineComponent, ref,reactive,computed,onMounted} = Vue
      const {useRouter,useRoute} = VueRouter

      const newPage=defineComponent({
        setup(){
          const router = useRouter()
          const task = reactive({
            ID:undefined,
            タスク名:'',
            完了:false,
            タイムスタンプ:undefined,
            詳細:'',
          })

          // 1. フロントからサーバーサイドにデータを渡す
          const addTask=()=>{
            google.script.run
              .withSuccessHandler((res)=>router.push('/'))
              .createTask(JSON.stringify(task))            
          }          

          return {task, addTask}
        },
        template:`
        <h2>新規作成</h2>

        <label>
          <h3>タスク名</h3>
          <input v-model="task.タスク名" class=" flex-1 border border-blue-500 px-2 py-1">
        </label>

        <label>
          <h3>詳細</h3>
          <textarea v-model="task.詳細" class="border w-full p-2"></textarea>
        </label>        
                  
        <button @click="addTask" class=" bg-blue-500 ">追加</button>  
        `
      })

      const app = defineComponent({
        async setup(){
          // 2. サーバー側からデータを受け取る。
          const getTasks=()=>{
            return new Promise((resolve,reject)=>{
              google.script.run
                .withSuccessHandler((res)=>{
                  const tasks = JSON.parse(res)
                  tasks.forEach(task=>task.isEditting=false)
                  resolve(tasks)
                })
                .getTasks()
            })
          }

          const tasks = ref(await getTasks())



          // 3.全てのレコードを更新する
          const updateTasks=async()=>{
            google.script.run
              .withSuccessHandler((res)=>{
                tasks.value = JSON.parse(res)
              })
              .updateTasks(JSON.stringify(tasks.value))    
          }

          // レコードを削除する
          const removeTask=(ID)=>{
            google.script.run
              .withSuccessHandler((res)=>{
                tasks.value = JSON.parse(res)
              })
              .destroyTask(ID)
          }

          return {tasks, updateTasks, removeTask,}
        },
        template:`
        <nav class=" py-3 flex">
          <h1 class=" text-3xl font-bold">タスクリスト</h1>
          <div class="flex-1"></div>
          <button @click="$router.push('new')" class="bg-blue-500">新規追加</button>
          <button @click="updateTasks()" class="bg-blue-500">タスクを更新</button>
        </nav>

        <ul class="space-y-2">
          <li v-for="task of tasks" class=" border-t-2">
            <div class="flex justify-between items-start">
              <label>
                <input type="checkbox" v-model="task.完了">
                <input class="px-2" v-model="task.タスク名" placeholder="タスク名">
              </label>

              <div clas="flex-1"></div>

              <div class="text-sm">作成日時:{{ (new Date(task.タイムスタンプ)).toLocaleString() }}</div>

              <button @click="removeTask(task.ID)" class=" bg-red-500">削除</button>
            </div>

          </li>
        </ul>
        `
      })

      const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes:[
          { path: '/', component: app },
          { path: '/new', component: newPage},
        ]
      })

      Vue.createApp({
        components:{app},
        template:`
        <RouterView v-slot="{ Component }">
          <template v-if="Component">
            <Suspense>
              <component :is="Component"></component>

              <template #fallback>Loading...</template>              
            </Suspense>
          </template>
        </RouterView>`
      })
      .use(router)
      .mount('#vue-app')

    </script>

    
  </body>
</html>
